<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @item.title %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @item.slug %>
</p>

<p>
  <strong>Summary:</strong>
  <%= @item.summary %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
